$icon-font-path: "/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "spinkit/scss/spinkit";

@import "components/comments";
@import "components/notification";
@import "components/ActionButton/ActionButton";

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

textarea {
    max-width: 100%;
    resize: none;
}

.jumbotron {
    position: relative;
}

.edit {
    button {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .transparent {
        background-color: transparent;
        border: none;
        border-bottom: solid 1px grey;
        box-shadow: none;
    }
}

.list-group-item {
    &.active {
        a {
            color: white;
        }
    }
}

.commentBox {
    overflow-y: scroll;
    max-height: 500px;
    margin: 10px;
}

.modal-dialog {
    height: 250px;
}

.input-group {
    &.input-group-block {
        margin-top: 5px;
    }
}

.margin-top {
    margin-top: 5px;
}

.tabs {
  margin-top: -80px;
}
.tabs-navigation {
  padding: 0 50px;
  max-height: 50px;
  position: relative;
}
.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs-menu-item {
  float: left;
  margin-right: 20px;
  a {
    display: block;
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    border-bottom: 0;
    cursor: pointer;
    color: #a9a9a9;
  }
  &.is-active a {
    background: #fff;
    border: 1px solid #ddd;
    border-top: 2px solid #337ab7;
    border-bottom: 0;
    color: #337ab7;
  }
  &:not(.is-active) a:hover {
    color: #337ab7;
  }
}
.tab-panel {
  padding: 10px 50px;
}

.actions-list {
    .actions {
        display: none;
    }
    &:hover {
        .actions {
            display: inherit;
        }
    }
}
